@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h2>Tutorial 2</h2>

<div class="row"> @* This creates the row for step one *@
    <div class="col-md-8"> @* This is the first column *@
        <h3>Step One - Grip </h3>
        <p>
            <ul>
                <li>Put the dart in your open palm</li>
                <li>Balance it and find the center of gravity</li>
                <li>Now with your thumb roll the dart to your finger tips</li>
                <li>Place your thumb a bit behind the center of gravity, hold <br /> 
                    it with as much fingers as you like, then move your arm to <br /> 
                    aiming position</li>
                <li>Try to point your dart up slightly</li>
                <li>Have a firm grip but don’t strain your finger muscles</li>
                <li>It is advised to hold a dart with at least three fingers</li>
            </ul>
        </p>
    </div> @*End of first column*@

    <div class="col-md-2"> @* This is the second column *@
        <img src="@Url.Content("~/Content/Images/grip-of-dart.png")" alt="Dartboard Height" />
    </div> @*End of second column*@
</div> @*End of row for step one*@

<div class="row"> @* This creates the row for step two *@
    <div class="col-md-8"> @* This is the first column *@
        <h3>Step Two - Throw</h3>
        <p>
            <ul>
                <li>Aiming</li>
                <ul>
                    <li>Put your eyes, the dart and the target you want to hit in one line</li>
                    <li>Focus the target, not the dart</li>
                    <li>Use aiming points on the target if you like, or aim in a different way</li>
                </ul>
                <li>Backward Move</li>
                <ul>
                    <li>Make sure to do this slowly</li>
                    <li>Move back a little bit so that you don’t bang your face</li>
                </ul>
                <li>Acceleration</li>
                <ul>
                    <li>Try to do this naturally</li>
                    <li>Don’t move too fast and too rough</li>
                    <li>Do it smoothly in one move and follow through</li>
                </ul>
                <li>Release</li>
                <ul>
                    <li>Try to do this naturally</li>
                    <li>Try not to raise your elbow</li>
                </ul>
                <li>Follow-through</li>
                <ul>
                    <li>After releasing the dart try to keep your hand aiming at the target</li>
                    <li>Keep your arm in the straight and slight upward position</li>
                </ul>
            </ul>
        </p>
    </div> @*End of first column*@

    <div class="col-md-2"> @* This is the second column *@
        <img src="@Url.Content("~/Content/Images/throw-of-dart.jpg")" alt="Throw of dart" />
        <img src="@Url.Content("~/Content/Images/throw-of-dart-2.gif")" alt="Throw of dart" />
    </div> @*End of second column*@
</div> @*End of row for step two*@

<div class="row"> @* This creates the row for step three *@
    <div class="col-md-8"> @* This is the first column *@
        <h3>Step Three - Stance</h3>
        <p>
            <ul>
                There is only one proper stance that meets the requirements for throwing: <br />
                The right foot (left foot for left handers) forward stance
                <br />
                <br />
                <li>Shoulder angle</li>
                <ul>
                    <li>It defines the stance</li>
                    <li>You should try to get close to the perfect 90 degrees, but not making <br />
                    throwing uncomfortable</li>
                    <li>Proper angles start from approx. 50 to 80 degrees</li>
                    <li>The exact value here is your personal preference</li>
                </ul>
                <li>Feet angle</li>
                <ul>
                    <li>The feet angle simply follows the shoulder angle, otherwise you will <br />
                        fall on the floor</li>
                </ul>
                <li>Balance</li>
                <ul>
                    <li>Try to stay perfectly balanced</li>
                    <li>Try not to lean forward too much</li>
                </ul>
                <li>Weight Distribution</li>
                <ul>
                    <li>Rest most of your weight on your forward foot</li>
                    <li>Balance yourself with your behind foot</li>
                </ul>
                <li>Leaning Forward</li>
                <ul>
                    <li>Lean forward</li>
                    <li>Not too much that you feel unbalanced</li>
                </ul>
                <li>Torso</li>
                <ul>
                    <li>Don’t arch your back</li>
                    <li>Keep your spine straight</li>
                    <li>Keep your body strained but arm relaxed</li>
                </ul>
            </ul>
        </p>
    </div> @*End of first column*@

    <div class="col-md-2"> @* This is the second column *@
        <img src="@Url.Content("~/Content/Images/stance-when-throwing-a-dart.png")" alt="Dartboard Height" />
        <img src="@Url.Content("~/Content/Images/stance-when-throwing-a-dart.jpg")" alt="Dartboard Height" />
        <img src="@Url.Content("~/Content/Images/stance-when-throwing-a-dart-2.jpg")" alt="Dartboard Height" />
    </div> @*End of second column*@
</div> @*End of row for step three*@
<br />
<br />
<p>
    <a class="btn btn-default" href="~/AroundTheWorld/Tutorial1">Back</a>
    <a class="btn btn-default" href="~/AroundTheWorld/Tutorial3">Next</a>
</p>